<ion-view>
  <ion-nav-bar class='bar-stable'>
    <div class="buttons left-buttons">
      <a ng-href="#/home"><button class="button">HOME</button></a>
    </div>
    <h1 class='title oswald'>ORDERS</h1>
  </ion-nav-bar>
  <ion-content scroll='true' padding="false" class='has-header orders-pane'>
    <div class="list list-inset">
      <div class="item list-item item-divider" style='color: #e62e25;'>
        PENDING<img class='orderStatusImg' src='img/pending.png' />
      </div>
      <orders-list orders='pendingOrders' cancel="cancelOrder" text-color="#e62e25"></orders-list>
    </div>
    <div class="list list-inset">
      <div class="item list-item item-divider" style='color: #e99e39;'>
        MAKING<img class='orderStatusImg' src='img/making.png' />
      </div>
      <orders-list orders='confirmedOrders' text-color="#e99e39"></orders-list>
    </div>
    <div class="list list-inset">
      <div class="item list-item item-divider" style='color: #13C546;'>
        READY TO COLLECT<img class='orderStatusImg' src='img/ready.png' />
      </div>
      <orders-list orders='readyOrders'></orders-list>
    </div>
  </div>
  <a ng-href='#/history'>
    <button class="button button-block button-stable">VIEW HISTORY</button>
  </a>
</ion-content>
</ion-view>
