<ion-view>
  <ion-nav-bar class='bar-stable'>
    <div class="buttons left-buttons">
      <a ng-href="#/home">
        <a ng-href="#/home"><button class="button">BACK</button></a>
      </a>
    </div>
    <h1 class='title oswald'>RESET PASSWORD</h1>
    <div class="buttons right-buttons">
      <a ng-if='!loggedIn()' ng-href="#/register"><button class="button">SIGNUP</button></a>
    </div>
  </ion-nav-bar>
  <ion-content scroll='false' padding="false" class='has-header pwrrequest-pane'>
    <div class='paneHead'>Please input the mobile number linked to your account.
      You will receive a text message with instructions on how to reset your password.
    </div>
    <div class="list list-inset">
      <form name='passwordResetDetails' id='pwrForm'>
        <label class="item item-input">
          <input name='mobileNumber' type='tel' ng-model="$parent.mobNum" ng-pattern='mobValidator' placeholder="04XX XXX XXX" />
        </label>
      </form>
    </div>
    <button class="button button-block button-stable" ng-click="requestReset()">
      REQUEST SMS CODE
    </button>
  </ion-content>
</ion-view>
