<ion-view>
  <ion-nav-bar class='bar-stable'>
    <div class="buttons left-buttons">
      <a ng-href="#/pwresetrequest">
        <button class="button">BACK</button>
      </a>
    </div>
    <h1 class='title oswald'>RESET PASSWORD</h1>
    <div class="buttons right-buttons">
      <a ng-if='!loggedIn()' ng-href="#/register"><button class="button">SIGNUP</button></a>
    </div>
  </ion-nav-bar>
  <ion-content scroll='false' padding="false" class='has-header pwr-pane'>
    <div class='paneHead'>
      Please enter your SMS verification code, along with your new password.
    </div><br>
    <div class="list list-inset">
      <form name='passwordResetDetails' id='pwrForm'>
        <label class="item item-input">
          <input name='resettoken' type='text' ng-model="params.resetToken" placeholder="SMS Code" />
        </label>
        <label class="item item-input">
          <input name='newPassword' type='password' ng-model="params.newPassword" placeholder="new password" />
        </label>
      </form>
    </div>
    <button class="button button-block button-stable" ng-click="resetPassword()">
      RESET PASSWORD
    </button>
</ion-content>
</ion-view>
