<div class='slideRight item list-item' ng-repeat="order in orders track by order.orderId">
  <div class=left>
    <div class='truckName'>{{ order.truck.name }} #{{ order.orderId }}</div><br>
    <ul class='orderItems'>
      <li class='orderItem' ng-repeat="orderItem in order.orderItems">
        {{ orderItem.quantity }}
        x {{ orderItem.item.name }}&nbsp;<span ng-if="orderItem.orderItemOptions.length > 0">(custom)</span>
      </li>
    </ul><br>
    <span ng-if="order.orderStatus < 3" style="color: {{ textColor }}; font-weight: bold; font-size: 10pt;"># IN QUEUE: {{ order.placeInQueue + 1 }} </span>
  </div>
  <div class='right'>
    <div class='orderPrice'>${{ order.orderTotal | number: 2 }}</div><br>
    <div class='orderCount' ng-if="order.orderStatus < 4">
      {{ order.orderTime | date:'HH:mm a' }}
    </div>
    <div class='orderCount' ng-if="order.orderStatus > 3">
      {{ order.orderTime | date:'dd/MM/yy' }}
    </div><br>
    <button class='button' style="min-width: 5px; min-height: 5px; line-height: 1; font-size: 10pt; height: 25px; background-color: white; color: black !important;" ng-if='order.orderStatus == 1' ng-click='cancel(order.orderId);'>Cancel</button>
  </div>
</div>
<div class='item list-item' ng-if="orders.length < 1">
  Nothing to show.
</div>
